<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7.- Mostrar una lista y añadir un elemento nuevo al hacer click</title>
</head>

<body>
    <div id="vueApp">
        <div>
            <h2>7.- Mostrar una lista y añadir un elemento nuevo al hacer click</h2>
            <form @submit.prevent="addUser">
                <fieldset>
                    <label for="name">Ingresa tu nombre :</label>
                    <input type="text" v-model="name" >
                </fieldset>
                </br>
                <fieldset>
                    <label for="rol">¿Qué miembro de la familia eres?</label>
                    <input type="text" v-model="rol" >
                </fieldset>
                </br>
                <button type="submit">Agregar Usuario</button>
            </form>
        </div>
        <div>
            <ul>
                <li v-for="user in users" >
                    {{ user.name }} - {{ user.rol }}
                </li>
            </ul>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const { createApp, ref } = Vue;

        createApp({
            data() {
                return {
                    users: [],
                    name: '',
                    rol: ''
                };
            },
            methods: {
                addUser() {
                    this.users.push({ name: this.name, rol: this.rol });
                    this.name = '';
                    this.rol = '';
                }
            }
        }).mount('#vueApp');
    </script>
</body>

</html>
